<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /**
  ~ * @author 倪总
  ~ * @description
  ~ * @createDate ${DATE} ${TIME}
  ~ */
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hlkj.demo.mapper.DbNoticeMapper">

    <resultMap id="BaseResultMap" type="org.hlkj.demo.domain.DbNotice">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,
        gmt_create,gmt_modified
    </sql>
</mapper>
