<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hlkj.demo.mapper.DbProblemsMapper">

    <resultMap id="BaseResultMap" type="org.hlkj.demo.domain.DbProblems">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="displayId" column="display_id" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="inputDescription" column="input_description" jdbcType="VARCHAR"/>
            <result property="outputDescription" column="output_description" jdbcType="VARCHAR"/>
            <result property="sample" column="sample" jdbcType="OTHER"/>
            <result property="timeLimit" column="time_limit" jdbcType="INTEGER"/>
            <result property="memoryLimit" column="memory_limit" jdbcType="INTEGER"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
            <result property="submitCount" column="submit_count" jdbcType="BIGINT"/>
            <result property="acceptCount" column="accept_count" jdbcType="BIGINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,display_id,
        description,input_description,output_description,
        sample,time_limit,memory_limit,
        remarks,submit_count,accept_count,
        gmt_create,gmt_modified
    </sql>
</mapper>
